.buttons{
    transition: 0.3s;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: medium;
    font-family: "Arvo";
    border: 2px solid black;
}
.buttons:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
}