:root{
--color-50: hsl(41 100 96);
--color-100: hsl(42 100 92);
--color-200: hsl(41 100 89);
--color-300: hsl(41 100 85);
--color-400: hsl(41 100 81);
--color-500: hsl(42 100 77);
--color-600: hsl(42, 100%, 73%);
--color-700: hsl(42 100 69);
--color-800: hsl(42 100 65);
--color-900: hsl(43 100 60);
--color-950: hsl(45 100 50);
}