@import url('color-palette.css');
/*Icons and fonts*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*UI design*/
body{
    margin: 0;
    padding: 0;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--950);
    background-color: hsl(0, 0, 95);
    max-width: inherit;
}
body::-webkit-scrollbar{
    scrollbar-width: none;
}

#home{
    width: inherit;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    width: 30%;
    height: 13%;
}

.product-card {
    display: flex;
    float: left;
    width: 13%;
    height: 50%;
    margin-left: 3%;
    margin-top: 2%;
    background-color: var(--50);
    min-width: 200px;   
}
.product-card img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
}
.product-card .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: 3rem;
    position: absolute;
    align-self: last baseline;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    transition: 0.3s ease;
    font-size: 1rem;
    cursor: pointer;
}
.overlay a {
    text-decoration: none;
    color: var(--50);
}
#featured-products .product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;   
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
}

#featured-products .product-card:hover .overlay{
    opacity: 1;
}