@import url('color.css');
/*Icons and fonts*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*UI design*/
body{
    margin: 0;
    padding: 0;
    color: var(--950);
    background-color: hsl(0, 0, 95);
    max-width: inherit;
}
body::-webkit-scrollbar{
    scrollbar-width: none;
}

#home{
    width: 100%;
    height: 50vh;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    color: hsl(0,0%,95%);
}
#home #home-img{
    width: 50%;
    height: inherit;
    position: relative;
}
.center-img{
    height: inherit;
    position: absolute;
    text-align: center;
    align-content: center;
}
.center-img .buttons{
    width: 30%;
    height: 12%;
}
.center-img .buttons:hover{
    box-shadow: 0 5px 20px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
#home:hover #home-img{
    transition: 0.3s ease-in;
    opacity: 0.5;
}
#home:hover .center-img{
    cursor: pointer;
    color:black;
}