nav{
    width: inherit;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-panel{
    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 90%); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}
.side-panel a{
    color: var(--950);
    display: block;
    width: 100%;
    height: 5%;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
}
.side-panel a:hover{
    color: white;
}

.menu {
    cursor: pointer;
    padding: 5px;
    border: none;
}

.menu button{
    border: transparent;
    background-color: transparent;
}
.menu button:hover{
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;
}
.menu button:cl .side-panel{
    display: flex;
}
.user-features {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.user-features a{
    text-decoration: none;
    width: 35px;
    height: 30px;
    color: var(--950);
    font-size: 1.5rem;
    margin: auto;
}
.user-features a span{
    display: flex;
    height: 100%;
    font-size: 1.8rem;
    justify-content: center;
}
.user-features a:hover span{
    background-color: hsl(0, 0%, 90%);
}