@import url('color.css');

/*Icons and fonts*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*UI design*/
body{
    margin: 0;
    padding: 0;
    color: var(--950);
    background-color: hsl(0, 0, 95);
    max-width: inherit;
    font-family: 'Arvo';
}
body::-webkit-scrollbar{
    scrollbar-width: none;
}

#home{
    width: 100%;
    height: 50vh;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    color: hsl(0,0%,95%);
}
#home #home-img{
    width: 50%;
    height: inherit;
    position: relative;
    transition: 1s ease-in-out;
    filter: grayscale(90%);
}
.img-text{
    height: inherit;
    position: absolute;
    text-align: center;
    align-content: center;
    font-size: .8rem;
}
.img-text .buttons{
    width: 30%;
    height: 12%;
}
.img-text .buttons:hover{
    box-shadow: 0 5px 20px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
#home:hover #home-img{
    filter: grayscale(0);
}
#home:hover .img-text{
    cursor: pointer;
}