@import url('color.css');

/*Icons and fonts*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*UI design*/
body{
    margin: 0;
    padding: 0;
    color: var(--950);
    background-color: hsl(0, 0, 95);
    max-width: inherit;
    font-family: 'Funnel Sans', sans-serif;
}
body::-webkit-scrollbar{
    scrollbar-width: none;
}

.home{
    width:100vw;
    height: 50vh;
    display: flex;
    float: right;
}
.home img{ 
    width: 50%;
    height: 100%;
    filter: grayscale(80%);
    transition: 0.5s ease-in-out;
}

.home:hover img{
    filter: grayscale(0%);
}

.shop-now{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.shop-now h1,
.shop-now p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
}
.shop-now .buttons {
    width: 8%;
    height: 2.8rem;
    display: block;
    margin: 2em auto;
}
.featured-products {
    background-color: blue;
    height: 30vh;
    padding: 1rem;
}
.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid black;
    gap: 1rem;
}   