.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: hsl(0, 0%, 4%);
    padding: 0 20px;
}
nav h2 {
    font-size: 1.5rem;
    color: hsl(0,0%,95%);
    margin-left: 40px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.5px;
}
.nav-links a {
    color: hsl(0,0%,60%);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    position: relative;
    transition: all 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: hsl(0,0%,85%);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}
.nav-links a:hover{
    color: hsl(0, 0%, 85%);
}

.products-container{
    width: 55%;
    height: 50vh;
    margin-left: 40px;
    background-color: hsl(0,0%,4%);
    border-radius: 16px;
    
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.products-container table{
    overflow-y: auto;
    width: 100%;
    display: block;
    border: 1px solid hsl(0,0%,5%);
    border-radius: 16px;
}

.products-container th{
    width: 22.5%;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    color: hsl(0,0%,85%);
    border: 1px solid white;
}
.products-container td{
    border: 1px solid hsl(0,0%,5%);
    border-collapse: collapse;
    border-spacing: 0;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    color: hsl(0,0%,65%);
}

.display-revenue{
    width: 30%;
    height: 20vh;
    background-color: hsl(0,0%,5%);
    display: flex;
    float: right;
    margin-right: 100px;
    margin-top: -23%;
    border-radius: 16px;
}
.display-revenue h1 {
    color: hsl(0,0%,95%);
    margin-left: 40px;
    margin-top: 20px;
}

.display-revenue .revenue-details{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
    margin-left: 30px;
}

.revenue-details span {
    display: inline-flex;
    align-items: flex-start; 
    margin-left: -160px;
    margin-top: -100px;
    font-size: 1.1rem;
    color: hsl(0,0%,70%);
}

.display-orders{
    width: 30%;
    height: 27vh;
    background-color: hsl(0,0%,5%);
    display: flex;
    float: right;
    margin-right: 100px;
    margin-top: -12%;
    border-radius: 16px;
}
.display-orders h1 {
    color: hsl(0,0%,95%);
    margin-left: 40px;
    margin-top: 20px;
}
.display-orders .orders-details{
    font-size: 1.1rem;
    color: hsl(0,0%,70%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.orders-details span {
    padding: 0;
    margin-left: -100px;
}