@import url('color-palette.css');

body {
    background-color: var(--50);
    color: --var(--950);
    font-family: 'Funnel Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.container {
    width: 20%;
    height: 40vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 15px 30px ;
    background-color: hsl(0, 90%, 95%);
    box-shadow:  var(--300) 0 0 10px 0 ;
    border-radius: 10px;
}

.container form input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--100);
    border-radius: 5px;
    text-decoration: none;
}
.container form input[type="submit"] {  
    width: 40%;
    padding: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}
.container form input[type="submit"]:hover {
    box-shadow: 0 0 10px 0 var(--300);
    transition: 0.3s;
}
